{% extends 'base.html.twig' %}

{% block body %}
    <h1>Temperatura list</h1>

    <table>
        <thead>
            <tr>
                <th>Sensor</th>
                <th>Fecha</th>
                <th>Temperatura ºC</th>
            </tr>
        </thead>
        <tbody>
        {% for temperatura in temperaturas %}
            <tr>
                <td>{{ temperatura.sensor }}</td>
                <td>{% if temperatura.created %}{{ temperatura.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ temperatura.valor }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
